/**
 * 6-COMPONENTS / HEADER
 * Main site navigation header.
 */

.c-header {
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 50px;
	background-color: var(--sil-pure-white);
	border-bottom: 1px solid var(--sil-verde-600);
	color: var(--sil-verde-800);
	display: flex;
	align-items: stretch;

	&__inner {
		height: 100%;
	}

	&__logo-wrapper {
		display: flex;
		height: 100%;
	}

	&__nav-wrapper {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__logo-img {
		display: block;
		max-height: 35px; // Can fill the header height
		width: auto;
		align-self: flex-end; // Force image to touch the bottom
	}

	&__logo-link {
		text-decoration: none;
		display: flex;
		align-items: center; // Default centering
		gap: 5px;
		height: 100%;
	}

	&__logo-text {
		font-family: var(--sil-font-primary);
		font-size: var(--sil-fs-md);
		color: var(--sil-verde-800);
		font-weight: 400;
		text-transform: lowercase; // Per Figma "a silveira"
		align-self: center; // Keep text centered vertically
	}

	// Mobile hidden by default (need to implement toggle later)
	@media (max-width: 767px) {
		&__menu {
			display: none;
		}
	}
}
