/**
 * 6-COMPONENTS / MAP
 * Styling for the Leaflet map container on the front page.
 */


.c-map {

	width: 100%;
	height: calc(100vh - 122px); // Precise height: 50px header + 72px filter approx.
	min-height: 500px;
	position: relative;
	z-index: 1; // Below header/dropdowns
	background-color: var(--sil-violeta-050);

	&.is-locked {
		pointer-events: none;
	}


	&__container {
		width: 100%;
		height: 100%;
	}

	// Leaflet popup customization
	.leaflet-popup-content-wrapper {
		border-radius: 8px;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 4px 15px rgba(0,0,0,0.1);
	}

	.leaflet-popup-content {
		margin: 0;
		width: 250px !important;
	}
}

.c-map-popup {
	padding: 15px;

	&__title {
		margin: 0 0 5px;
		font-size: 18px;
		color: var(--sil-verde-800);
		font-family: var(--sil-font-main);
	}

	&__lema {
		margin: 0 0 15px;
		font-size: 14px;
		color: var(--sil-verde-700);
		font-style: italic;
	}

	&__link {
		color: var(--sil-verde-600);
		text-decoration: none;
		font-size: 14px;
		font-weight: 700;
		display: flex;
		align-items: center;
		gap: 5px;

		&:hover {
			text-decoration: underline;
		}
	}
}

/**
 * Map Panel
 */
.c-map-panel {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	max-width: 476px; // Same as width in Figma "476"
	background-color: #ffffff;
	padding: 30px 20px;
	box-shadow: -4px 0 24px rgba(0,0,0,0.1);
	z-index: 1010;
	overflow-y: auto;
	
	// hidden state
	transform: translateX(100%);
	transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
	
	&.is-open {
		transform: translateX(0);
	}
}
