/**
 * 4-ELEMENTS / BASE
 */

body {
	background-color: var(--sil-verde-050);
	color: var(--sil-verde-900);
	font-family: var(--sil-font-primary);
	font-size: var(--sil-fs-base);
}

a {
	color: inherit;
	text-decoration: none;
	transition: opacity 0.2s ease-in-out;

	&:hover {
		opacity: 0.8;
	}
}
